<ng-container *ngFor="let line of fretboard?.lines; index as fretIndex">
  <div [attr.data-fret]="line.fret" class="fret-mark">
    {{ line.fret == 12 ? '' : line.fret }}
  </div>
  <div
    *ngFor="let note of line.notes"
    [attr.data-fret]="line.fret"
    [attr.data-string]="note.string.name"
    [attr.data-note]="note.value"
    [class.active]="currentNote?.equals(note)"
    [attr.data-degree]="key && note.degreeIn(key).value"
    [attr.data-mode]="key && note.modeIn(key).name"
    [attr.title]="key &&
      'Mode : ' +
      note.modeIn(key).name +
      '\nDegré : +' +
      note.degreeIn(key).value +
      '/12'
    "
  >
    {{ note.name }}
  </div>
</ng-container>
