<!-- Upload -->
<input #fileInput type="file" accept=".wav,.mp3" (change)="uploadFile($event)"/>

<!-- Transport -->
<div id="transport">

  <div id="transport-buttons">
    <button (click)="playSong()" *ngIf="!playing">⏵</button>
    <button (click)="pauseSong()" *ngIf="playing">⏸</button>
  </div>

  <div id="song-map">
    <app-structure-map *ngIf="structure" [structure]="structure" [timecode]="timecode"
                       [currentPatternInStructure]="currentPatternInStructure"
                       (clickPatternInStructure)="onClickElementInStructure($event)"></app-structure-map>
    <app-sample-map [transportSeconds]="transportSeconds"></app-sample-map>
  </div>

</div>

<app-part-tabs *ngIf="structure" [structure]="structure"
               [currentPartInStructure]="currentPartInStructure"
               (clickPartInStructure)="onClickElementInStructure($event)"></app-part-tabs>

<app-part-line *ngIf="currentPartInStructure" [partInStructure]="currentPartInStructure"
               [currentSectionInStructure]="currentSectionInStructure"
               [currentPatternInStructure]="currentPatternInStructure"
               (clickPatternInStructure)="onClickElementInStructure($event)"
               (clickSectionInStructure)="onClickElementInStructure($event)"></app-part-line>


<!-- TODO on reprend le composant A en attendant de trouver la bonne manière de faire -->
<!-- Détail sur le pattern courant -->
<ng-container *ngIf="currentPatternInStructure && currentBar !== undefined">

  <div class="chords-and-fretboard">

    <div class="chords-and-staff">

      <div class="pattern-name-container" [style.backgroundColor]="getPatternColor(currentPatternInStructure)">
        <span class="active pattern">{{ currentPatternInStructure.pattern.name }}</span>
      </div>

      <app-chords-grid *ngIf="currentPatternInStructure.pattern.chords; let chords" [chords]="chords" [key]="currentKey"
                       [currentBar]="currentBar - currentPatternInStructure.startTime.toBars()"
                       [style.border-color]="getPatternColor(currentPatternInStructure)"
                       (clickBar)="onClickBar(currentPatternInStructure.startTime.toBars() + $event)"></app-chords-grid>
      <ng-container *ngIf="!currentPatternInStructure.pattern.chords">
        {{ currentPatternInStructure.pattern.duration.toBars() }}m
      </ng-container>

      <!-- <span class="pattern-timecode">{{ currentPatternInStructureRelativeTimecode }} / {{ currentPatternInStructure.pattern.duration.toBars() }}</span> -->
      <ng-container *ngIf="currentPatternInStructure.eventsStartTime">
        <ng-container
          *ngFor="let barNumber of sequence(currentPatternInStructure.eventsDurationInBars, (currentPatternInStructure.eventsStartTime?.toBars() ?? 0) + 1)">
          <app-rythm-bar
            [number]="barNumber"
            [events]="currentPatternInStructure.pattern.events ?? []"
            (addEvent)="addEvent($event)"
            (removeEvent)="removeEvent($event)"
            [timecode]="rythmBarTimecode"
          ></app-rythm-bar>
        </ng-container>
      </ng-container>

    </div>

    <div class="fretboard-container">

      <app-fretboard
        [lowestFret]="0"
        [fretsCount]="13"
        [key]="currentPatternInStructure.pattern.key"
        [currentNote]="currentChord?.root"
      ></app-fretboard>

    </div>

  </div>

</ng-container>
