:host {
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 2mm;
  flex-direction: column;

  & > * {
    //flex: 1;
  }
}

.active {
  color: white;
}

#transport {
  flex: none;
  display: flex;
  gap: 4px; // TODO on veut 1px mais on est obligé de mettre 4px
}

#transport-timecode {
  text-align: right;
  flex: 3rem;
  font-family: "Courier New", monospace;
  color: white;
  position: absolute;
  right: 0;
}

#structure-map-zones {
  display: flex;
  height: 5mm;

  & > * {
    height: 100%;

    &[data-pattern=B] {
      background: #1976d2;
      color: #11508f;
    }

    &[data-pattern=C] {
      background: #3c6400;
      color: #243b00;
    }

    &[data-pattern=R] {
      background: chocolate;
      color: #723910;
    }

    &.active {
      border: solid 1px white;
    }
  }
}

input[type=file] {
  display: none;
}

#range-container {
  flex: 1;
}

#transport-buttons {
  flex: none;
  display: flex;
  justify-content: center;

  button {
    aspect-ratio: 1;
  }
}

#song-map {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 5mm;

  & > * {
    flex: 1;
  }

}

app-part-tabs {
  flex: none;
}

#pattern-row {
  display: flex;

  & > * {
    flex: 1;
  }
}

#part-line {

  .sections-line {
    display: flex;
    background: #616161; // cf. styles.css > *
    font-size: 5mm;
    text-indent: 1mm;

    & > * {
      flex: 1;
      overflow: clip;
      text-align: left;
      background: #444; // cf. styles.css > html
      //box-shadow: -10px 0 10px #444;
      //clip-path: inset(0 0 0 -100%);
    }

    & > *:not(:first-child) {
      border-left: solid 1px #616161;
    }

    .active.section {
      color: white;
      border-bottom: solid 2px white;
    }
  }

  .patterns-line {
    display: flex;
    gap: 1px;

    & > * {
      flex: 1;
    }

    [data-pattern].current {
      color: white;
    }

    [data-pattern=B] {
      background: #1976d2;
      color: #11508f;
    }

    [data-pattern=C] {
      background: #3c6400;
      color: #243b00;
    }

    [data-pattern=R] {
      background: chocolate;
      color: #723910;
    }
  }

  .active-section-line {
    display: flex;

    .active {
      border-top: solid 2px white;
    }
  }
}

.chords {
  display: flex;
  flex-direction: column;

  .chord-line {
    display: flex;

    & > * {
      flex: 1;
    }

    .chord {
      border: solid 1px black;
    }
  }
}

#fretboard {
  background: black;
}
