:host {
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 2mm;
  flex-direction: column;

  & > * {
    //flex: 1;
  }
}

.active {
  color: white;
}

.active.pattern {
  font-size: 8mm;
}

#transport {
  flex: none;
  display: flex;
  gap: 4px; // TODO on veut 1px mais on est obligé de mettre 4px
}

#transport-timecode {
  text-align: right;
  flex: 3rem;
  font-family: "Courier New", monospace;
  color: white;
  position: absolute;
  right: 0;
}

input[type=file] {
  display: none;
}

#transport-buttons {
  flex: none;
  display: flex;
  justify-content: center;

  button {
    aspect-ratio: 1;
  }
}

#song-map {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 5mm;

  & > * {
    flex: 1;
  }

}

app-part-tabs {
  flex: none;
}

.chords-and-fretboard {
  display: flex;
  overflow: clip;

  & > * {
    flex: 1;
  }

  .chords-and-staff {
    flex: 2;
  }
}

.pattern-timecode {
  font-size: 5mm;
}
