C : <input type="file" accept=".wav,.mp3"/>
B : <input type="file" accept=".wav,.mp3"/>
R : <input type="file" accept=".wav,.mp3"/>

Structure :

<app-structure (clickPattern)="onClickPattern($event)"></app-structure>

<ng-container *ngIf="patternToPlay">
  {{patternToPlay}} : 
  <button (click)="play()" [disabled]="!patternToPlay">Play</button>
  <button (click)="stop()" [disabled]="!patternToPlay">Stop</button>
  <br>
</ng-container>

<ng-container *ngIf="currentPattern == 'B'">
  Partie bombarde :
  <app-rythm-bar
    [number]="1"
    [events]="events"
    (addEvent)="addEvent($event)"
    (removeEvent)="removeEvent($event)"
  ></app-rythm-bar>
  <br />
  <app-rythm-bar
    [number]="2"
    [events]="events"
    (addEvent)="addEvent($event)"
    (removeEvent)="removeEvent($event)"
  ></app-rythm-bar>
  <br />
</ng-container>

<ng-container *ngIf="currentPattern == 'C'">
  Couplet :
  <app-rythm-bar
    [number]="3"
    [events]="events"
    (addEvent)="addEvent($event)"
    (removeEvent)="removeEvent($event)"
  ></app-rythm-bar>
  <br />
  <app-rythm-bar
    [number]="4"
    [events]="events"
    (addEvent)="addEvent($event)"
    (removeEvent)="removeEvent($event)"
  ></app-rythm-bar>
  <br />
</ng-container>

<ng-container *ngIf="currentPattern == 'R'">
  Refrain :
  <app-rythm-bar
    [number]="5"
    [events]="events"
    (addEvent)="addEvent($event)"
    (removeEvent)="removeEvent($event)"
  ></app-rythm-bar>
  <br />
  <app-rythm-bar
    [number]="6"
    [events]="events"
    (addEvent)="addEvent($event)"
    (removeEvent)="removeEvent($event)"
  ></app-rythm-bar>
  <br />
  <app-rythm-bar
    [number]="7"
    [events]="events"
    (addEvent)="addEvent($event)"
    (removeEvent)="removeEvent($event)"
  ></app-rythm-bar>
  <br />
  <app-rythm-bar
    [number]="8"
    [events]="events"
    (addEvent)="addEvent($event)"
    (removeEvent)="removeEvent($event)"
  ></app-rythm-bar>
</ng-container>
