Partie bombarde :
<app-rythm-bar
  [number]="1"
  [events]="events"
  (addEvent)="addEvent($event)"
  (removeEvent)="removeEvent($event)"
></app-rythm-bar>
<br />
<app-rythm-bar
  [number]="2"
  [events]="events"
  (addEvent)="addEvent($event)"
  (removeEvent)="removeEvent($event)"
></app-rythm-bar>
<br />

Couplet :
<app-rythm-bar
  [number]="3"
  [events]="events"
  (addEvent)="addEvent($event)"
  (removeEvent)="removeEvent($event)"
></app-rythm-bar>
<br />
<app-rythm-bar
  [number]="4"
  [events]="events"
  (addEvent)="addEvent($event)"
  (removeEvent)="removeEvent($event)"
></app-rythm-bar>
<br />

Refrain :
<app-rythm-bar
  [number]="5"
  [events]="events"
  (addEvent)="addEvent($event)"
  (removeEvent)="removeEvent($event)"
></app-rythm-bar>
<br />
<app-rythm-bar
  [number]="6"
  [events]="events"
  (addEvent)="addEvent($event)"
  (removeEvent)="removeEvent($event)"
></app-rythm-bar>
<br />
<app-rythm-bar
  [number]="7"
  [events]="events"
  (addEvent)="addEvent($event)"
  (removeEvent)="removeEvent($event)"
></app-rythm-bar>
<br />
<app-rythm-bar
  [number]="8"
  [events]="events"
  (addEvent)="addEvent($event)"
  (removeEvent)="removeEvent($event)"
></app-rythm-bar>
