:host {
  background: #004d00;

  #sample-timecode {
    text-align: right;
    font-family: "Courier New", monospace;
    color: #05b905;
    position: absolute;
    right: 0;
  }

  #sample-waveform svg {
    width: 100%;
    height: 7mm;

    path {
      stroke: #007300 !important;
    }
  }
}
