<!-- Upload -->
<input #fileInput type="file" accept=".wav,.mp3" (change)="uploadFile($event)"/>

<!-- Transport -->
<div id="transport">

  <div id="transport-buttons">
    <button (click)="playSong()" *ngIf="!playing">⏵</button>
    <button (click)="pauseSong()" *ngIf="playing">⏸</button>
  </div>

  <div id="song-map">
    <app-structure-map *ngIf="structure" [structure]="structure" [timecode]="timecode"
                       [currentPatternInStructure]="currentPatternInStructure"
                       (clickPatternInStructure)="onClickElementInStructure($event)"></app-structure-map>
    <app-sample-map [transportSeconds]="transportSeconds"></app-sample-map>
  </div>

</div>

<app-part-tabs *ngIf="structure" [structure]="structure"
               [currentPartInStructure]="currentPartInStructure"
               [loopedElement]="loopedElement"
               (clickPartInStructure)="onClickElementInStructure($event)"
></app-part-tabs>

<app-part-line *ngIf="currentPartInStructure" [partInStructure]="currentPartInStructure"
               [currentSectionInStructure]="currentSectionInStructure"
               [currentPatternInStructure]="currentPatternInStructure"
               [loopedElement]="loopedElement"
               (clickPatternInStructure)="onClickElementInStructure($event)"
               (clickSectionInStructure)="onClickElementInStructure($event)"
></app-part-line>


<!-- TODO on reprend le composant A en attendant de trouver la bonne manière de faire -->
<!-- Détail sur le pattern courant -->
<ng-container *ngIf="currentPatternInStructure && currentBar !== undefined">

  <div class="chords-and-fretboard">

    <div class="chords-and-staff">

      <div class="pattern-name-container" [style.backgroundColor]="getPatternColor(currentPatternInStructure)">
        <span class="active pattern" [class.looped]="currentPatternInStructure === loopedElement">
          {{ currentPatternInStructure.pattern.name }}
        </span>
      </div>

      <app-chords-grid [chords]="getPatternChords(currentPatternInStructure)" [key]="currentKey"
                       [currentBar]="currentBar - currentPatternInStructure.startPosition.bars"
                       [currentBarIsLooped]="!!currentBar && (loopedElement?.startPosition?.bars === currentBar && loopedElement?.endPosition?.bars === currentBar + 1)"
                       [style.border-color]="getPatternColor(currentPatternInStructure)"
                       (clickBar)="onClickBar(currentPatternInStructure.startPosition.bars + $event)"></app-chords-grid>

      <!-- <span class="pattern-timecode">{{ currentPatternInStructureRelativeTimecode }} / {{ currentPatternInStructure.pattern.duration.toBars() }}</span> -->
      <!--      <ng-container *ngIf="currentPatternInStructure.eventsStartPosition">-->
      <!--        <ng-container-->
      <!--          *ngFor="let barNumber of sequence(currentPatternInStructure.eventsDurationInBars, (currentPatternInStructure.eventsStartPosition?.bars ?? 0) + 1)">-->
      <!--          <app-rythm-bar-->
      <!--            [number]="barNumber"-->
      <!--            [events]="currentPatternInStructure.pattern.events ?? []"-->
      <!--            (addEvent)="addEvent($event)"-->
      <!--            (removeEvent)="removeEvent($event)"-->
      <!--            [timecode]="rythmBarTimecode"-->
      <!--          ></app-rythm-bar>-->
      <!--        </ng-container>-->
      <!--      </ng-container>-->

      <div class="keyboard" *ngIf="keyboardHeight" [ngStyle]="{height: keyboardHeight, maxHeight: keyboardHeight}">
        <app-keyboard [lowerOctavedNote]="lowerOctavedNote" [higherOctavedNote]="higherOctavedNote" [activeKeys]="keyboardState?.activeKeys || []" [keyHeightInPx]="keyHeightInPx" [markedKeyNames]="markedKeyNames"></app-keyboard>
      </div>

      <app-sheet-music *ngIf="musicXml && position" [musicXmlContent]="musicXml" [position]="position"></app-sheet-music>

    </div>

  </div>

</ng-container>
