:host {
    --background: white;
}

.information {
    display: flex;

    > * {
        flex: 1;
    }
}

.pattern-list {
    text-align: left;
    column-count: 3;

    .pattern {
        page-break-inside: avoid;
        break-inside: avoid-column;
        margin-bottom: 1em;

        .pattern-name, .time-signature {
            color: white;
            font-weight: bold;
            display: inline-block;
            padding: 3pt; // idem chords-grid.border
        }

        .time-signature {
            color: red;
        }

        &.has-chords {
            .pattern-name, .time-signature {
                padding-bottom: 0;
            }
        }
    }

    .pattern-chords {
        font-family: monospace;
    }
}
