<app-page [title]="title">
    <div class="information">
        <div>
            @if (songEntry.recording) {
                Tempo moyen : {{ round(songEntry.recording.meanTempo) }}
            }
            @if (songEntry.structure.timeSignature) {
                ({{ songEntry.structure.timeSignature[0] }}/{{ songEntry.structure.timeSignature[1] }})
            }
        </div>
        <div>
            Version : {{ songEntry.version || '(inconnue)' }}
        </div>
    </div>

    @if (structureInGrid.partsInGrid.length) {
        <app-structure-grid [structureInGrid]="structureInGrid" [colorResolver]="colorResolver"></app-structure-grid>
    }

    @if (patternsWithoutDuplicatedInitial.length) {
        <br>
        <hr>
        <div class="pattern-list">
            @for (pattern of patternsWithoutDuplicatedInitial; track pattern) {
                <div class="pattern" [style.color]="getPatternColor(pattern)">
                    <span class="pattern-name"
                          [style.background-color]="getPatternColor(pattern)">{{ pattern.name }}</span>
                    @if (pattern.chords) {
                        <app-chords-grid [chords]="pattern.chords" [key]="pattern.key"
                                         [style.border-color]="getPatternColor(pattern)"
                        ></app-chords-grid>
                    } @else {
                        ({{ pattern.durationInBars }}m)
                    }
                </div>
            }
        </div>
    }
</app-page>
