:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  // gap: 1px;
  // background: #000;
  position: relative;
}

app-note {
  position: absolute;
  width: 24px;
}

:host:hover {
  background: rgb(255, 255, 155); // TODO factor avec rythm-bar-beat-division-line
  color: black;
}