:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  // gap: 1px;
  // background: #000;
  position: relative;
}

@font-face {
  font-family: "Beats";
  src:
    local("Beats"),
    url("../../assets/fonts/Beats.woff2") format("woff2");
}

.beat-number {
  font-family: "Beats";
  font-size: 4vw;
}

app-note {
  position: absolute;
  width: 24px;
}

:host:hover {
  background: rgb(255, 255, 155); // TODO factor avec rythm-bar-beat-division-line
  color: black;
}