import {Key} from "../../notes";
import structureObject from "../../../assets/structures/{{songName}}.json";
import {Pattern} from "../../structure/pattern/pattern";
import {Structure} from "../../structure/structure";
import {Section} from "../../structure/section/section";
import {Part} from "../../structure/part/part";

const key = Key.Gm
const fretboard = {
  lowestFret: 0,
  fretsCount: 5,
}

const couplet = Pattern.fromData({
  key,
  name: 'Couplet',
  chords: '| A | C | G | F |',
  fretboard,
})

const refrain = Pattern.fromData({
  key,
  name: 'Refrain',
  chords: '| A | E | F | G |',
  fretboard,
})

const parts: Part[] = [
  new Part('1', [
    new Section('Couplet', [couplet, couplet]),
    new Section('Refrain', [refrain, refrain]),
  ]),
]

const structure = Structure.builder()
  .stuctureObject(structureObject)
  .parts(parts)
  .build()

export default {
  name: '{{songName}}',
  structure,
}
