<app-pattern (click)="onClickPattern('C')">C</app-pattern>
<app-pattern (click)="onClickPattern('C')">C</app-pattern>

<app-pattern (click)="onClickPattern('B')">B</app-pattern>
<app-pattern (click)="onClickPattern('B')">B</app-pattern>

<app-pattern (click)="onClickPattern('C')">C</app-pattern>
<app-pattern (click)="onClickPattern('C')">C</app-pattern>

<app-pattern (click)="onClickPattern('R')">R</app-pattern>
<app-pattern (click)="onClickPattern('R')">R</app-pattern>

<app-pattern (click)="onClickPattern('C')">C</app-pattern>
<app-pattern (click)="onClickPattern('C')">C</app-pattern>
