<input type="file" accept=".als" (change)="uploadFile($event)"/>
<input type="text" [(ngModel)]="songName" placeholder="Titre du morceau"/>

<p>
<b>Attention si le morceau contient des changements de signature, il faut vérifier l'alignement dans Live et ajuster
  chaque BeatTime à la main dans le JSON (ainsi que le sampleBeatTimeDuration)</b>
</p>

<p>
<i>(Live applique la même signature rythmique pour tout le sample)</i>
</p>

<pre>
  Exemple : The Sims

  Mesure        :  47  48  49  50  51  52
  BeatTime Live : 184 188 192 196 200 204
  BeatTime réel : 184 187 191 194 198 201
  Ajustement    :   0  -1  -1  -2  -2  -3

</pre>

<ng-container *ngIf="recordingInitData">
  src/assets/recordings/{{ recordingInitData.name }}.json
  <textarea [ngModel]="recordingInitData | json" rows="10"></textarea>
</ng-container>

<ng-container *ngIf="songEntry">
  src/app/song/entries/{{ songName }}.ts
  <textarea [ngModel]="songEntry" rows="10"></textarea>
</ng-container>
