<input type="file" accept=".zip" multiple (change)="uploadZip($event)"/><br/>
@if (setlist) {
    <a routerLink="setlist" [queryParams]="{title: setlist.title}">Setlist</a><br/>

    <select [(ngModel)]="viewType" (change)="onViewTypeChange()">
        @for (viewType of VIEW_TYPES; track viewType; let i = $index) {
            <option [ngValue]="viewType">{{ viewType }}</option>
        }
    </select>

    <ol>
        <li *ngFor="let song of setlist">
            <a class="view-type-link"
               [routerLink]="'morceaux/' + song.name"
               [queryParams]="{view: viewType}">{{ song.name }}</a>
        </li>
    </ol>
}

@if (isDevMode()) {
    <hr/>
    <ul>
        @for (testRoute of testRoutes; track testRoute) {
            <li><a [routerLink]="'test/' + testRoute">{{ testRoute }}</a></li>
        }
    </ul>
}
