<input type="file" accept=".zip" multiple (change)="uploadZip($event)"/><br/>
@if (setlist) {
    <a routerLink="setlist" [queryParams]="{title: setlist.title}">Setlist</a>
    <ol>
        <li *ngFor="let song of setlist">
            {{ song.name }}
            @for (viewType of VIEW_TYPES; track viewType; let i = $index) {
                @if (i > 0) {
                    |
                }
                <a class="view-type-link" [routerLink]="'morceaux/' + song.name"
                   [queryParams]="{view: viewType}">{{ viewType }}</a>
            }
        </li>
    </ol>
}
