<input type="file" accept=".zip" multiple (change)="uploadZip($event)"/><br/>
@if (setlist) {
    <a routerLink="setlist" [queryParams]="{setlistTitle: setlist.title}">Setlist {{ setlist.title }}</a><br/>

    <select [(ngModel)]="viewType" (change)="onViewTypeChange()">
        @for (viewType of VIEW_TYPES; track viewType) {
            <option [ngValue]="viewType">{{ viewType }}</option>
        }
    </select>

    <ol>
        <li *ngFor="let song of setlist">
            <a class="view-type-link"
               [routerLink]="'morceaux/' + song.name"
               [queryParams]="{view: viewType}">{{ song.name }}</a>
        </li>
    </ol>
}

<hr/>
Révision : {{ revision }}
