.information {
  display: flex;

  > * {
    flex: 1;
  }
}

ol {
  text-align: left;
  font-size: xx-large;
  margin-left: 1em;

  .tempo {
    color: #CCC;

    &:after {
      content: ' bpm';
    }
  }
}

table {
  text-align: left;
  font-size: xx-large;
  margin: 1em auto auto auto;
  border-collapse: collapse;
  --gray: #CCC;

  th, td {
    padding: 0 0.5em;

    &.number {
      text-align: right;
    }

    &.tempo {
      text-align: right;
      color: var(--gray);
    }
  }

  td {
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: var(--gray);
  }
}
