/* Global Styles */

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

/* router-outlet + *  {
  padding: 0 16px;
} */

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #1976d2;
  color: white;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Fancy Button */

.fancy-button {
  background-color: white;
  color: #1976d2;
}

.fancy-button i.material-icons {
  color: #1976d2;
  padding-right: 4px;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/









:root {
  --disabled-color: #111;
  --enabled-color: #CCC;

  /* Dégradés verts/bleus */
  --IV-color: #38a1f6;
  --I-color: #2977b2;
  --V-color: #17507a;
  --ii-color: #708d6a;
  --vi-color: #51674d;
  --iii-color: #465943;
  --vii-color: #464646;

  /* Dégradé arc-en-ciel */
  --IV-color: #f6ba38;
  --I-color: #f6ed38;
  --V-color: #bcd326;
  --ii-color: #708d6a;
  --vi-color: #26718f;
  --iii-color: #1b3377;
  --vii-color: #47088f;

  /* Dégradé arc-en-ciel */
  --IV-color: #ff9e3c;
  --I-color: #ffd451;
  --V-color: #c7d326;
  --ii-color: #55860d;
  --ii-color: #3c6400;
  --vi-color: #1b3377;
  --iii-color: #47088f;
  --vii-color: #8f080d;
  --vii-color: #720408;

  /* Dégradé arc-en-ciel */
  /*--IV-color: #c41402;*/
  /*--I-color: #ff9e3c;*/
  /*--V-color: #ffd451;*/
  /*--ii-color: #7ba934;*/
  /*--vi-color: #1b3377;*/
  /*--iii-color: #47088f;*/
  /*--vii-color: #64070a;*/
}

html {
  text-align: center;
  background: #444;
  font-size: 1cm;
}
