<ng-container *ngIf="!sampleIsLoaded">
  <input type="file" accept=".wav,.mp3" (change)="uploadFile($event)"/>
  <br/>
</ng-container>

<ng-container *ngIf="sampleIsLoaded">
  {{ timecode }}
  <button (click)="playSong()" *ngIf="!playing">⏵</button>
  <button (click)="pauseSong()" *ngIf="playing">⏸</button>
  <button (click)="stopSong()">⏹</button>
  <ng-container *ngIf="debug">
    {{ transportPosition }}
  </ng-container>
  <br/>

  <ng-container *ngIf="debug">
    {{ transportBeatTime }} - {{ transportSeconds }}
    <br/>
  </ng-container>

  <input type="range" min="0" max="100" step="1" [value]="progress" (change)="setProgress($event)"/>
  <br/>

</ng-container>

<ng-container *ngIf="structure">

  <!-- Tonalité -->
  {{structure.key}}<br/>

  <app-structure [structure]="structure"
                 [currentSectionInStructure]="currentSectionInStructure"
                 [currentPatternInStructure]="currentPatternInStructure"
                 [currentSectionInStructureRelativeTimecode]="currentSectionInStructureRelativeTimecode"
                 (clickSectionInStructure)="onClickSectionInStructure($event)"
                 (clickPatternInStructure)="onClickPatternInStructure($event)"
  ></app-structure>
  <br/>

  <ng-container *ngIf="currentPatternInStructure">
    <span class="active pattern">{{ currentPatternInStructure.pattern.name }}</span><br/>
    {{ currentPatternInStructureRelativeTimecode }} / {{ currentPatternInStructure.pattern.duration.toBars() }}<br/>

    <ng-container *ngIf="currentPatternInStructure.pattern.chords; let chords">
      {{ chords.toAscii() }}
    </ng-container>
    <ng-container *ngIf="!currentPatternInStructure.pattern.chords">
      {{ currentPatternInStructure.pattern.duration.toBars() }}m
    </ng-container>
    <br/>

    <!-- TODO pourquoi ne peut pas envoyer lowestFret et fretsCount undefined ? -->
    <app-fretboard
      *ngIf="currentPatternInStructure.pattern.fretboard && currentPatternInStructure.pattern.fretboard.lowestFret != undefined && currentPatternInStructure.pattern.fretboard.fretsCount != undefined"
      [lowestFret]="currentPatternInStructure.pattern.fretboard.lowestFret"
      [fretsCount]="currentPatternInStructure.pattern.fretboard.fretsCount"
      [key]="currentPatternInStructure.pattern.key"
      [currentNote]="currentChord?.root"
    ></app-fretboard>

    <ng-container *ngIf="currentPatternInStructure.eventsStartTime">
      <ng-container
        *ngFor="let barNumber of sequence(currentPatternInStructure.eventsDurationInBars, currentPatternInStructure.eventsStartTime.toBars() + 1)">
        <app-rythm-bar
          *ngIf="currentPatternInStructure.pattern.events?.length"
          [number]="barNumber"
          [events]="currentPatternInStructure.pattern.events"
          (addEvent)="addEvent($event)"
          (removeEvent)="removeEvent($event)"
          [timecode]="rythmBarTimecode"
        ></app-rythm-bar>
        <br/>
      </ng-container>
    </ng-container>

  </ng-container>

</ng-container>
