@if (songEntry) {
    @if (view === "A") {
        <app-mobile-rehearsal-a [songEntry]="songEntry"></app-mobile-rehearsal-a>
    }
    @if (view === "B") {
        <app-mobile-rehearsal-b [songEntry]="songEntry"></app-mobile-rehearsal-b>
    }
    @if (view === "B-maq") {
        <app-mobile-rehearsal-b-maq [songEntry]="songEntry"></app-mobile-rehearsal-b-maq>
    }
    @if (view === "P") {
        <app-mobile-rehearsal-p [songEntry]="songEntry"></app-mobile-rehearsal-p>
    }
    @if (view === "P-osmd") {
        <app-mobile-rehearsal-p-osmd [songEntry]="songEntry"></app-mobile-rehearsal-p-osmd>
    }
    @if (view === "C") {
        <app-mobile-rehearsal-c [songEntry]="songEntry"></app-mobile-rehearsal-c>
    }
}
