:host {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: solid 3pt #0006;
    font-size: 6mm;

    & > * {
        flex: 1;
    }
}

.bar {
    background: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    border: solid 0 black;
    $padding: 3%;
    padding: $padding;

    &.first-line {
        border-top-width: 1pt;
    }

    &:not(.first-line) {
        border-top-width: 1pt;
    }

    &.first-column {
        border-left-width: 1pt;
    }

    &:not(.first-column) {
        border-left-width: 1pt;
    }

    &.last-column,
    &:last-of-type {
        border-right-width: 1pt;
    }

    &.last-line {
        border-bottom-width: 1pt;
    }

    & > .chord {
        flex: 1;
        display: flex;

        &:not(:last-of-type) {
            border-bottom: dashed 1px #CCC;
        }

        & > span {
            margin: auto;

            // Bordure de texte
            -webkit-text-stroke-width: 0.05em;
            -webkit-text-stroke-color: black;
            paint-order: stroke fill; // Pour passer la bordure à l'arrière-plan
            text-wrap: nowrap;
        }

        &[data-mode='vi'] {
            // background: var(--vi-color);
            color: var(--vi-color);
            // border-color: var(--vi-color);
        }

        &[data-mode='ii'] {
            // background: var(--ii-color);
            color: var(--ii-color);
            // border-color: var(--ii-color);
        }

        &[data-mode='iii'] {
            // background: var(--iii-color);
            color: var(--iii-color);
            // border-color: var(--iii-color);
        }

        &[data-mode='vii'] {
            // background: var(--vii-color);
            color: var(--vii-color);
            // border-color: var(--vii-color);
        }

        &[data-mode='IV'] {
            // background: var(--IV-color);
            color: var(--IV-color);
            // border-color: var(--IV-color);
        }

        &[data-mode='V'] {
            // background: var(--V-color);
            color: var(--V-color);
            // border-color: var(--V-color);
        }

        &[data-mode='I'] {
            // background: var(--I-color);
            color: var(--I-color);
            // border-color: var(--I-color);
        }

    }

    &.multi-chords {
        .chord:first-of-type > span {
            margin-left: $padding;
        }

        .chord:last-of-type > span {
            margin-right: $padding;
        }
    }

}

$current-bar-color: white;

.current {
    color: $current-bar-color;
}

.current.bar {
    border-color: $current-bar-color;

    &:not(.last-column) + .bar {
        border-left-color: $current-bar-color;
    }

    &.looped {
        border-color: yellow;
    }
}
